---
import Section from "@/components/Section.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Container from "@/components/Container.astro";
import { m } from "@/paraglide/messages.js";
import { getLocale } from "@/paraglide/runtime";
import Paragraph from "@/components/Paragraph.astro";
import { getCollection } from "astro:content";
import CertificationCard from "./CertificationCard.astro";

const locale = getLocale();

const certifications = await getCollection("certifications", ({ id }) => {
  const [lang] = id.split("/");
  return lang === locale;
});
---

<Section id="about">
  <Container>
    <SectionTitle>{m["certifications.title"]()}</SectionTitle>
    <Paragraph centering>{m["certifications.description"]()}</Paragraph>
    <ul class="certifications-list">
      {
        certifications.map((certification) => (
          <li>
            <CertificationCard data={certification} />
          </li>
        ))
      }
    </ul>
  </Container>
</Section>

<style lang="scss">
  @use "@/assets/styles/variables" as var;

  .certifications-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1.5rem;
    }
  }
</style>
