---
import Section from "@/components/Section.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Container from "@/components/Container.astro";
import { m } from "@/paraglide/messages.js";
import Paragraph from "@/components/Paragraph.astro";
---

<Section id="about">
  <Container>
    <SectionTitle>{m["articles.title"]()}</SectionTitle>
    <Paragraph centering>{m["articles.description"]()}</Paragraph>
  </Container>
</Section>
