---
import Container from "@/components/Container.astro";
import Paragraph from "@/components/Paragraph.astro";
import Section from "@/components/Section.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { m } from "@/paraglide/messages.js";
import { getLocale } from "@/paraglide/runtime";
import { getCollection } from "astro:content";
import WorkCard from "./WorkCard.astro";

const locale = getLocale();

const works = await getCollection("works", ({ id }) => {
  const [lang] = id.split("/");
  return lang === locale;
});
---

<Section id="about">
  <Container>
    <SectionTitle>{m["works.title"]()}</SectionTitle>
    <Paragraph centering>{m["works.description"]()}</Paragraph>
    <ul class="works-list">
      {
        works.map((work) => (
          <li>
            <WorkCard entry={work} />
          </li>
        ))
      }
    </ul>
  </Container>
</Section>

<style lang="scss">
  @use "@/assets/styles/variables" as var;

  .works-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1.5rem;
    }
  }
</style>
