---
import * as m from "@/paraglide/messages.js";
import Container from "../Container.astro";
import HeroIcon from "./HeroIcon.astro";
import HeroScrollChevron from "./HeroScrollChevron.astro";
import HeroWaves from "./HeroWaves.astro";
---

<div class="hero-wrapper">
  <header class="hero">
    <Container>
      <div class="hero-container">
        <HeroIcon />
        <h1 class="title">{m.title()}</h1>
        <p class="description">{m["hero.description.name"]()}</p>
        <p class="role">
          {
            m["hero.description.role"]()
              .split(" ")
              .map((text) => <span class="role-item">{text}</span>)
          }
        </p>
      </div>
    </Container>
  </header>
  <HeroScrollChevron />
  <HeroWaves />
</div>

<style lang="scss">
  @use "@/assets/styles/variables" as var;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-container {
    min-height: calc(90dvh - clamp(2rem, 10vw, 6rem) - env(safe-area-inset-bottom, 0px));
    padding: 4vh 2rem 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    letter-spacing: 0.02em;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    color: var.$color-text-primary;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: var.$color-secondary;
  }

  .role {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.25rem;
  }
</style>
