<div class="icon-wrapper">
  <div class="icon-container">
    <img src="/images/icon.webp" alt="" class="icon" />
  </div>
</div>

<style lang="scss">
  @use "@/assets/styles/variables" as var;

  .icon-wrapper {
    display: grid;
    place-items: center;
    width: clamp(150px, 15vw, 300px);
    aspect-ratio: 1 / 1; /* ★ 円形を保つため、widthに合わせて高さを自動調整 */
    border-radius: 100%;
    background-color: var.$color-primary-300;
    box-shadow: var.$shadow-sm;
    position: relative;
    margin: 2rem;
  }

  .icon-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* ★ 円形を保つため、widthに合わせて高さを自動調整 */
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
  }

  /* ★ 枠線の役割をする疑似要素を追加 */
  .icon-wrapper::after {
    content: "";
    position: absolute;

    top: -1.5rem;
    left: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;

    border: 8px solid var.$color-primary-300;
    border-radius: 100%;

    animation: breathing-icon-scale 6s ease-in-out infinite;
  }

  @keyframes breathing-icon-scale {
    0% {
      transform: scale(0.95);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      border-width: 4px;
      opacity: 0.25;
    }
    100% {
      transform: scale(0.95);
      opacity: 1;
    }
  }

  .icon {
    width: 105%;
    aspect-ratio: 1;
    transform-origin: top center;
    animation: icon-rotate 4s ease-in-out infinite;
    filter: drop-shadow(var.$shadow-md);
  }

  @keyframes icon-rotate {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(-1deg);
    }
  }
</style>
