<section class="section"></section>

<style lang="scss">
  @use "@/assets/styles/variables" as var;

  .section {
    padding: 2rem;
    min-height: 300px;
    background-color: #ebf8ff;
  }
</style>
