$color-black: #333;
$color-white: #fff;
$color-secondary: #34495e;
$color-tertiary: #f19c20;

$color-primary-100: #f6fcff;
$color-primary-200: #daf2fd;
$color-primary-300: #c7ecfc;
$color-primary-400: #85a4ff;
$color-primary-500: #5c8fff;
$color-primary-600: #007bff;
$color-primary-700: #1965d0;
$color-primary-800: #2051a2;
$color-primary-900: #1e417f;

$color-zinc-100: #f4f4f5;
$color-zinc-200: #e4e4e7;
$color-zinc-300: #d4d4d8;
$color-zinc-400: #a1a1aa;
$color-zinc-500: #71717a;
$color-zinc-600: #52525b;
$color-zinc-700: #3f3f46;
$color-zinc-800: #27272a;
$color-zinc-900: #18181b;

$color-text: $color-black;
$color-text-primary: $color-primary-800;
$color-text-secondary: $color-zinc-500;
$color-text-inverse: $color-white;
$color-background: $color-white;
$color-background-primary: $color-primary-100;
$color-background-primary-link: $color-primary-700;
$color-background-primary-link-hover: $color-primary-600;
$color-border: $color-zinc-200;

$color-text-link: $color-primary-700;
$color-text-link-hover: $color-primary-600;

$color-text-link-secondary: $color-text-secondary;
$color-text-link-secondary-hover: $color-zinc-700;

$shadow-sm: 0 2px 2px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.15);
$shadow-lg: 0 6px 8px rgba(0, 0, 0, 0.25);

$breakpoint: 700px;
$breakpoint-lg: 1200px;

$timeline-icon-width: 3rem;
