---
import Footer from "@/components/Footer.astro";
import ScrollToTopButton from "@/components/ScrollToTopButton.astro";
import { getLocale } from "@/paraglide/runtime.js";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const locale = getLocale();
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
    <ScrollToTopButton />
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @use "@/assets/styles/variables" as var;

  html,
  body {
    margin: 0;
    padding: 0;
    color: var.$color-text;
    background-color: var.$color-primary-100;
    scroll-behavior: smooth;
    font-feature-settings:
      "palt" 1,
      "pwid" 1,
      "pkna" 1;
  }

  * {
    box-sizing: border-box;
    margin: 0;

    @media (prefers-reduced-motion: reduce) {
      animation: none !important;
      transition: none !important;
    }
  }
</style>
